@using GamesClub.Models
@model IEnumerable<Empleado>
@{
    ViewData["Title"] = "Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color: darkorange">Listado  de Empleados</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Cod Empleado</th>
            <th>Tipo empleado</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DUI</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Usuario</th>
            <th>Clave</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @* Usamos foreach para recorrer la lista recibida como parámetro *@
        @foreach (var empleado in Model)
        {
            <tr  >
                <td style="text-align: center; align-content:center">@empleado.codEmpleado</td>
                <td style="text-align: center; align-content:center">@empleado.IdTipoEmpleado</td>
                <td style="text-align: center; align-content:center"> @empleado.Nombres</td>
                <td style="text-align: center; align-content:center">@empleado.Apellidos</td>
                <td style="text-align: center; align-content:center">@empleado.Dui</td>
                <td style="text-align: center; align-content:center">@(empleado.Estado == true ? "Activo" : "Inactivo")</td>
                <td style="text-align: center; align-content:center" width="100px" height="100px">@empleado.Imagen</td>
                <td style="text-align: center; align-content:center">@empleado.Usuario</td>
                <td style="text-align: center; align-content:center">@empleado.Clave</td>
                

                @* Columna de mantenimiento *@
                <td style="text-align: center; align-content:center">
                    <a class="btn btn-primary btn-sm" asp-action="Modificar" asp-controller="Empleado" asp-route-codEmpleado="@empleado.codEmpleado">Modificar</a>
                    <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Empleado" asp-route-codEmpleado="@empleado.codEmpleado">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
    <a class="btn btn-success btn-sm" asp-action="Agregar" asp-controller="Empleado">Crear Nuevo</a>
</table>
